<html>
<head>
    
{% load static %}
<meta charset='utf-8' />
<title>SkyAlert</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="{% static 'editpublic/style_edit1.css' %}">
<link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel='stylesheet' >
</head>

<body>
    


<div id='map'></div>

<script src="{% static 'editpublic/script_edit11.js' %}"></script>  
    

<a id='home_button' href="{% url 'admin_home' %}"><span class="oi oi-home"></span></a>
    
    

{% if earthquakes %}

    <table class="w3-table w3-centered w3-bordered" style = "width: 200px; color: #333333; ">

        <tr id='header_row' class = "header_row">
            <th class = "mag_head"  >Magnitude</th>
            <th class = "date_head" >Date & Location</th>
        </tr>

{% for earthquake in earthquakes reversed %}
    
        <tr class=' table_row' id={{earthquake.id}} onclick="select_earthquake(this)">
            <td class='magnitude'  >{{earthquake.magnitude}}</td>
            <td class = "titleLoc" >
                <div class='title' ><b>{{earthquake.title}} </b> </div>    
                <div class='city_info' >{{earthquake.distance}} km from {{earthquake.closest_city}}</div> 
            </td>
        </tr>
    

{% endfor %}
    </table>
{% endif %}

    
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
   
    
	
  <footer id="myFooter">
    <div class ="timeInfo">
        <h6 >Time: <label id='active-hour'>00:00</label></h6>
    </div>
    <div id = "flexFooter" class=" w3-theme-l1 w3-padding-16">
        
        <div class = 'play_btns'>
            <button id = "play-pause" class="slide-btn"><span class="oi oi-media-play"></span></button>
        </div>
            
        <div class='slidecontainer' id='sliderbar'>
            <input id='slider' class='slider' type='range' min='0' max='700' step='1' value='0' />
        </div>

        <div class='button_row'>
                <button id = "stop" class ='stop-btn'><span class="oi oi-reload"></span></button>  <!-- class="w3-button w3-light-grey speed"-->
                <button class='speed_col' id='x1' onclick="speed_x(this)">1.0x</button>
                <button class='speed_col' id='x5' onclick="speed_x(this)">5.0x</button>
                <button class='speed_col' id='x10' onclick="speed_x(this)" style="background-color:black;" >10x</button>
                <button class='speed_col' id='x20' onclick="speed_x(this)">20x</button>
            
        </div>
      </div>


  </footer>
	

</div>
    


    
    
<div id='console' style="border-top:2px solid #3333;" >
    <h6 style='font-size: 10; font-weight: bold'>Edit Public</h6>
    
    <form method ='POST' action = "{%url 'edit_public' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<input type = "text" id = "sn" name = "serial_number" hidden />
		<input type = "text" id = "url" name = "url" hidden />	
		
		<input type = "text"  id = "title1" name = "main_title" hidden/>
		<input  type="submit" name = "action" value = "remove" id = "remove" hidden/>	
		<input type = "submit" name = "action" value = "export"  id = "export"  hidden />
        
        <input id='epi_speed_post' type='text' name='epi_speed' hidden/>	
		<input id='epi_delay_post' type='text' name='epi_delay' hidden/>
        <div id='slidercontainer1'>
        <h6 style='font-size: 10'>Earthquake Speed</h6>
        <input name='epi_speed' id='epi_speed' type='range' value="1" min="0" max="10" step='0.1'  >
            <span id='epi_speed_value' style='float: right'></span>
        </div>
        <div id='slidercontainer2'>
        <h6 style='font-size: 10'>Earthquake Delay (seconds)</h6>
        <input name='epi_delay' id='epi_delay' type='range' value="0", min="0", max="59" >    
            <span id='epi_delay_value' style='float: right;'></span>
        </div>
        
        <div id='duration'>
            <h6 style='font-size: 10'>Duration</h6>
            <input id='duration_min' type='number' name='duration_min' min='0' max='59' style='font-size:10' ><span>:</span><input id='duration_sec' type='number' name='duration_sec' min='0' max='59' style='font-size:10'>
        </div>

	</form>
<div id='export' style='margin: auto;'>
    <button id='undo-btn' onclick="undo_function()">Undo</button>
<button id='export-btn' onclick="export_function()">Export</button>
</div>
    <div>
	{% if message %}
    
    <p> {{message}}</p>
	
	{% endif %}
	</div>
    
</div>
	
	<button class='new-data' id = "load" hidden><i class="ion-ios-plus-outline"></i>Load</button>
    	<button class='update-layer' id = "update-layer" hidden></button>
	
	
   

</body>
</html>

